html {
    scroll-behavior: smooth;
}



/* Body*/
body {
    margin: 0%; /* This ensures our site displays all the way to the edge of the browser screen*/
   opacity: 1;
   transition:  3s opacity;
   letter-spacing: .2vw;
   font-family:Arial, Helvetica, sans-serif;
   font-size: 1.5vw;
}

body.fade-out {
    opacity: .1;
    transition: none;
}
/*Navbar*/
.Navbar {
    overflow: hidden; /*This ensures that any content that overflows beyond the bundary of our nav bar is not displayed*/
    background-color: rgba(47, 48, 79, 0.323); /*This colors the navbar */
    top: 0; /*This ensured no space is displayed above the navbar */
    width: 100%; /*This made the navbar span the entire width of the page*/
    z-index: 1; /*This ensures other elements don't display over the navbar*/
    position: fixed;
    -webkit-animation: moveNavbar 5s;
    animation: moveNavbar 5s;
}

/*Navbar text*/
.Navbar a {
    float: left; /*This specifies that the text floats on the left on the navbar*/
    display: block; /*This ensures that othr text will be desplayed on the same line or row, instead of a new line */
    color: lightgrey; /*This is the font color for text on our navbar*/
    padding:.75vw 1vw; /*This adds padding around our text */
    text-decoration: none;/*This gets rid of the underlines under the text on our navbar */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /*This specifies the font family for the text on our navbar*/
    font-size: 2.5vw; /*This specifies the font size for text on ur navbat*/
    text-align: center;
    position: relative;
    -webkit-animation:  movenavText 5s;
    animation: movenavText 5s;
    letter-spacing: .2vw;
 }

 @keyframes moveNav{
     from {left: -100vw;}
     to {right: 0vw;}*/
 }

 @keyframes movenavText {
     from {top: -100vw;}
     to {top: 0vw;}
 }

 @keyframes movevideoText {
     from {top: -100vw;}
     to {top: 0px;}
 }
/*Navbar hover effect*/
.Navbar a:hover {
    background-color: #f4f4f43f; /* This defines the background color that will display when you hover over  the text one the navbar*/
    color: rgba(107, 112, 189, 0.652); /*This is the font color that will display when you hover over the text on the navbar*/
    font-weight: bold; /*This makes the text on the navbar bold when hovered over */
    cursor: pointer;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}

/*Navbar home button */
.Navbar a.active { /*This active selector styles a link */
    background-color: rgba(0, 0, 0, 0.562); /*Ths specifies the background color behind the home buttonon the navbar*/
}

@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(1.5,1.5);
    }
    100%{
        transform: scale(1,1);
    }
}

/*Video*/
#typing_code_video {
    position: fixed; /* This fixes our video to the page */
    right: 0; /*This ensures no space between the edge of the video and the edge of the page*/
    bottom: 0; /*This ensurres no space between the edge of the video and the edge of the page*/
    min-width: 100%; /* This ensures the video is displayed across the full width of the edge*/
    min-height: 100%;
    top: 0;
    bottom: 0;
   z-index: -1;
   animation: zoominoutsinglefeatured 5s;
}

/* Text over the video */
.Video_Text {
    background: rgba(0, 0, 0, 0) ; /* Ths provides a semi-transparent background for the text to  sit over */
    color: white;
    width: 100%;
    padding: 1vh; /*This adds padding around the text so that the background goes slightly beyond the text*/
    padding-bottom: 1vh;
    margin-top: 5%;
    position: relative;
    -webkit-animation: moveNav 4s;
    animation: movevideoText 4s;
    
}

#Slideshow-Background {
    background: rgba(255,255,255,0.35);
}

.mySlides {
    display: none;
}
img {
    vertical-align: middle;
}

#slideshow_Container {
    width: 45vw;
    height: auto;
    padding-top: 4%;
    position: relative;
    margin: auto;
}

.Slide_Show_Images {
    vertical-align: middle;
    height: auto;
    box-shadow: 0px 5px 10px 12px rgba(0,0,0,.75);
    width: auto;
}



.text {
    color: snow;
    padding: 1vs;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: .1vw;
    font-size: 1.5vw;
    background-color: rgba(0,0,0,0.75);
    font-weight: bold;
    border-radius: 7px 7px 7px 7px;
}

.Slide_number {
    color: white;
    position: absolute;
    top: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: .1vw;
    font-size: 1.5vw;
    font-weight: bold;
    display: none;
}

.dot {
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin: .25vw;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: relative;
    z-index: 1;
}

.active, dot:hover {
    background-color: #1a1a1a;
}
.active {
    background-color: #71717152;
  }
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
@-webkit-keyframes fade {
    from {opacity: .4;}
    to {opacity: 1}
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1};
}


  
  



/* Table - this section covers the styling of the columns and rows within our table */
* { /*The asterisk is a universal selector that applies this effect to all elements on the page*/
    box-sizing: border-box; /*This creates a box with a border within which we will place most of our text */
} 

.Column_1 {
    float: left;
    width: 50%;
    padding: 3px;
   /* padding-top: 1.6%;/* This ensures there is space between the top of the column and our headings */
    height: 448px; /* This sets the height of ur column at 400 pixels - if yu change the text with the column, you need to adjust the column heights accordingly */
    background-color: #f2f2f2b7;
    margin-top: 2vh;
   
}

.Column_2 {
    float: left;
    width: 50%;
    padding: 1px;
  
    height: 448px;
    background-color: #4d4d4da1;
    margin-top: 2vh;
}


.Row:after {/*This inserts something after the content os selected elements*/
    content:""; /*By leavngthis blank, we are allowing the footer (covered lower down) to be displayed- removing it makes the footer overwrite a column*/
    display: table; /*The display property specifies the type of display behaviour; the tabke value tell the browser to treat the element as a table*/
    clear: both; /* This clears any other elements from floating on the left or the right of an element*/

}

/* Heading 1 elements */
h1 {
    font: 75px arial, sans-serif;
    text-transform: uppercase; /* Capitalizing our headings */
    text-align: center;
    margin-top: 3%; /* Adding a small margin above the headings*/
    color: #1a1a1a; 
}



p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
    letter-spacing: .1vw;
    font-size: 1.25vw;
    padding-left: 1vw;
    padding-right: 1vw;
   
}

/* Center Align elemtns - this embraces all centered text*/
center {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    letter-spacing: .1vw;
    font-size: 1.5vw;
    padding-left: 5vw;
    padding-right: 5vw; 

}

/*Anchor elements*/
a {
    color: rgba(0, 41, 128, 0.48); /* links are all */
  }

  /*Quatation elements*/
  q {
    font-style: italic;
    font-weight: bold;
     color: whitesmoke 
}

/* Image Elements*/
img {
    filter: grayscale(75%); /*This rids our pictures of 75% of their color*/
    border-radius: 8px; /*This causes our images to have slightly rounded endges*/
    max-width: 100%;
    height: 100%;
    margin-left: auto; /*this in combination with margin-right: auto center our images*/
    margin-right: auto;
    display: block; /*By specifying block display we can ensure our images are able to be centered*/
}

center:hover {
    transition: transform 2s;
    transform: scale(1.1);
}

p:hover {
    color: rgba(35, 39, 142, 0.802);
    transition: transform 1s;
    transform: scale(1.05);
}

h1:hover {
    color: black;
    font-weight: normal;
    transition: transform 1s;
    transform: scale(1.05);
}

h2:hover {
    color: black;
    font-weight: bold;
    


}
h3:hover{
    color: rgba(35, 39, 142, 0.802);
  
    transition: transform 1s;
    transform: scale(1.05);

}
img:hover {
    filter: grayscale(5%);
    transition: transform 1s;
    transform: scale(1.05);
}
 @keyframes movePopup {
     from {right: -40vw;}
     to {bottom: 3vw;}
 }


  .open-button {    
    background-color: rgba(85, 85, 85, 0.604);
    color: rgb(255, 255, 255);
    padding: 16px 20px;
    border: rgba(35, 39, 142, 0.802);
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
        -webkit-animation: movePopup 5s;
        animation: movePopup 5s;
    }

 .form-popup {
     border: 3px solid #f1f1f100;
     z-index: 8;
     display: none;
     position: fixed;
     bottom: 10px;
     right: 10px;
     
    
 }

  .modal-body {
     padding: 10px;
     background-color: rgb(211, 211, 211);
     margin: 5px 0 22px 0;
     font-size: 3vs; 
 }


 .form-control input[type=text]:focus, .form-container input[type=password]:focus {
    background-color:  rgba(47, 48, 79, 0.323);
    outline: rgb(128, 128, 128);
    font-size: 1.5vw;

  }

 

.form-control {
    background-color: rgb rgba(47, 48, 79, 0.323);
    color: rgba(0, 0, 0, 0.508);
    border-color: black;
    margin-bottom: 1vh;
    margin-top: 1.5vh;
}

.form-control .cancel {
    background-color: rgba(0, 0, 0, 0.412);
    color: rgba(255, 255, 255, 0.439);
    border-color: grey;
}

button {
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 color: rgba(0, 0, 0, 0.753);
 letter-spacing: .1vw;
 font-size: 2vw;
 font-weight: bold;
 padding: 1.5vw 1.5vs;
 border-style: solid;
 cursor: pointer;
 width: 100%;
 position: centered;
 height: auto;
}



button:hover, .form-controlegend .btn:hover{
    color: rgba(255, 255, 255, 0.549);
    background-color: rgba(0, 0, 0, 0.226);
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    border-style: solid;
   *border-color: rgba(192, 192, 192, 0);
}

.form-control .cancel:hover{
    color: rgba(255, 255, 255, 0.652);
    background-color: rgba(0, 15, 128, 0.398);
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.59);
}


/* .container  */
/* { */
    /* height: 100%; */
    /* width: 100%; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* background-image: url("images/ipad-632394_1920.jpg"); */
	/* background-size: cover; */
	/* background-repeat:no-repeat;     */
/* } */
/* .container-box */
/* { */
	/* display:inline-block;  */
	/* padding:120px;  */
	/* background: rgba(0, 0, 0, .5); */
	/* border: 1px solid #333;	 */
/* } */

 Footer element 
 .footer {
     padding: 2%;
  
 } 

 



 